# Virtual Environments
venv/
.venv/
env/
ENV/
bin/
lib/
include/
Scripts/

# Databases & local data
*.db
*.sqlite3
instance/
__pycache__/
*.pyc

# Local system files
.DS_Store
Thumbs.db

# IDE settings
.vscode/
.idea/
